.about-us {
  padding: 120px 0;
  background-color: #f5f4fa;

  &__content {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__image-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__image {
    width: 350px;
  }

  &__title {
    font-family: Roboto Condensed;
    font-size: 48px;
    margin: 0 0 56px;
    font-weight: 700px  ;
  }

  &__text {
    font-family: Roboto Condensed;
    font-size: 20px;
  }
}
