.certificate {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font-family: Roboto Condensed;
    font-weight: 700;
    font-size: 20px;

    @include onDesktop {
      font-size: 22px;
    }
  }
  &__img {
    width: 100%;
    
    cursor: pointer;
    transition: 0.3s ease-in;

    @include onTablet {
      width: 200px;
    }
    @include onDesktop {
      width: 300px;
    }
    &:hover {
      opacity: 0.6;
    }
  }

  &__image-container {
    display: flex;

    flex-direction: column;
    gap: 30px;
    @include onTablet {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
