.description {
  &__title {
    font-family: Roboto Condensed;

    margin-bottom: 15px;
    font-size: 25px;

    @include onTablet {
      font-size: 28px;
    }
    @include onDesktop {
      font-size: 30px;
    }
  }

  &__text {
    font-family: Roboto Condensed;
    line-height: 1.4;
    text-align: justify;
    font-size: 18px;

    @include onDesktop {
      font-size: 20px;
    }
  }
}
