.description {

  &__title {
    font-size: 30px;
    margin-bottom: 15px;
    font-family: Roboto Condensed;

  }

  &__text {
    font-family: Roboto Condensed;
    font-size: 20px;
    line-height: 1.3;
  }
}
