.dropdown {
  display: none;

  @include onDesktop {
    position: relative;
    display: inline-block;
  }

  &__content {
    display: none;
    @include onDesktop {
      display: none;

      position: absolute;
      background-color: #2a2a34;
      min-width: 200px;
      z-index: 1;
      right: 0;
    }
  }

  &:hover &__content {
    display: block;
  }

  &__icon-container {
    display: none;
    @include onDesktop {
      height: 120px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s linear;
    }
  }
  &:hover &__icon-container {
    background: rgba(0, 0, 0, 0.2);
  }

  &__link {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.3s linear;

    &:hover {
      background-color: #222;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
