.footer {
  padding: 60px 0;
  background-color: #2f303a;



  @include onTablet {
    background: linear-gradient(135deg, #e79d14 37%, #2f303a 0%);
  }

  @include onDesktop {
    background: linear-gradient(135deg, #e79d14 40%, #2f303a 0%);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include onTablet {
      flex-direction: row;
      gap: 250px;
    }

    @include onDesktop {
      gap: 400px;
    }
  }

  &__left-block {
    display: flex;
    flex-direction: column;

    gap: 30px;

    @include onDesktop {
      flex-direction: row;
      gap: 100px;
      align-items: end;
    }
  }

  &__map {
    width: 100%;
    height: 200px;
  
    @include onTablet {
      width: 200px;
      height: 200px;
    }
    @include onDesktop {
      width: 250px;
      height: 250px;
    }
  }
}
