.guarantees {
  padding: 120px 0;
  background-color: #f5f4fa;

  &__content {

    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-family: Roboto Condensed;
    font-weight: 700px;
    margin: 0 0 48px;

    font-size: 32px;

    @include onTablet {
      font-size: 40px;
      margin: 0 0 56px;
    }

    @include onDesktop {
      font-size: 48px;
    }
  }

  &__text {
    font-family: Roboto Condensed;
    font-size: 18px;
    letter-spacing: 1;

    @include onDesktop {
      font-size: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    font-family: Roboto Condensed;
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-decoration:underline;
    transition: color 0.3s linear;

    @include onDesktop {

      font-size: 22px;
    }
  }

  &__link:hover {
    color: #ff6400;
  }
}

