.header {
  position: sticky;

  top: 0;
  background: #2f303a;
  z-index: 100;

  &__content {
    display: flex;
    justify-content: space-between;

    height: 100%;
  }

  &__menu {
    display: flex;
    align-items: center;
  }



  &__burger-menu-btn {
    background-color: inherit;
    color: #fff;
    padding: 12px 8px;
    align-self: center;
    border: none;

    cursor: pointer;

    @include onDesktop {
      display: none;
    }
  }

  &__burger-icon {
    display: flex;

    width: 24px;
    height: 16px;
  }

  &__close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex
;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

    background-color: inherit;
    color: #000;
 
   
    border: none;

    cursor: pointer;

    @include onDesktop {
      display: none;
    }
  }
  
  &__close-icon {
    display: flex;

    width: 24px;
    height: 16px;
  }
}
