.header {
  position: sticky;

  top: 0;
  background: #2f303a;
  z-index: 1;

  &__content {
  
    display: flex;
    justify-content: space-between;

    height: 100%;
  }

  &__menu {
    display: flex;
    align-items: center;
  }
}
