.info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-family: Roboto Condensed;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;

    @include onTablet {
      font-size: 28px;
    }

    @include onDesktop {
      margin-bottom: 20px;

      font-size: 35px;
    }
  }

  &__text {
    font-family: Roboto Condensed;
    font-size: 18px;

    @include onDesktop {
      font-size: 22px;
    }
  }

  &__item {
    font-size: 18px;
    line-height: 22px;


    @include onDesktop {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: disc;
    list-style-position: inside;
  }

  &__list &__item::marker {
    color: #ff6400;
    font-size: 20px;

    @include onDesktop {

      font-size: 25px;
    }
  }
}
