.nav {
  &__list {
    display: flex;
    flex-direction: column;
    @include onDesktop {
     flex-direction: row;
    }
  }

  &__item {
      width: fit-content;
    border: transparent 1px solid;
    transition: all 0.3s linear;
    height: 120px;
    align-items: center;
    padding: 0 25px;
    display: flex;
@include onDesktop {
  width: unset;
}
    
  }
  &__item:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  &__item--goods {
    position: relative;
  }

  &__link {
    display: flex;
    position: relative;
    padding: 0 0 5px 0;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #e79d14;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    color: #2f303a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Roboto Condensed;
    transition: all 0.3s linear;

    @include onDesktop {
      font-size: 22px;
      color: #fff;
    }
  }
}
