.phone {
  display: flex;
  gap: 15px;
  align-items: center;

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__numbers-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }


  &__number-link {
 
    padding-bottom: 5px;

    display: inline-block;
    position: relative;

    font-family: Roboto Condensed;
    color: #fff;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #e79d14;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}




.hover-underline-animation::after {

}

.hover-underline-animation:hover::after {
 
}
