.produce {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__information {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__title {
    font-family: Roboto Condensed;
    font-size: 22px;

    @include onTablet {
      font-size: 25px;
    }
  }

  &__text {
    font-family: Roboto Condensed;
    font-size: 18px;

    @include onDesktop {
      font-size: 20px;
    }
  }

  &__video-list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__left-video-block {
    display: flex;
    flex-direction: column;

    gap: 50px;

    @include onDesktop {
      justify-content: space-between;
    }
  }

  &__video-item {
    display: flex;

    justify-content: center;
  }

  &__video {
    width: 100%;

    @include onTablet {
      width: 90%;
    }
    @include onDesktop {
      width: 500px;
    }
  }

  &__video--vertical {
    width: 80%;

    @include onTablet {
      width: 70%;
    }
    @include onDesktop {
      width: 350px;
      height: 100%;
    }
  }
}
