.slideshow {
  max-width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;

  height: 390px;
  @include onTablet {
    height: 600px;
  }

  &__img-container {
    position: absolute;

    opacity: 0;
    transition: opacity 500ms;
    height: 100%;
    width: 280px;

    @include onTablet {
      height: 600px;
      width: 400px;
    }

    &--visible {
      opacity: 1;
    }

    border-radius: 8px;
    overflow: hidden;
  }

  &__text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  &__image {
    width: 100%;

    @include onTablet {
      height: 600px;
    }
  }
}
