.time {

    display: flex;
    gap: 10px  ;
  &__icon {
    width: 30px;
    height: 30px;
    fill: #fff;
  }

  &__text {
    color: #fff;
    font-family: Roboto Condensed;
    font-size: 20px;
  }
}
