.useful {
  padding: 120px 0;
  &__title {
    font-family: Roboto Condensed;
    font-weight: 700px;
    margin: 0 0 48px;

    font-size: 32px;

    @include onTablet {
      font-size: 40px;
      margin: 0 0 56px;
    }

    @include onDesktop {
      font-size: 48px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
